<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<nav class="navbar navbar-light" style="background-color: #0dcaf0;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Gestion des reclamations</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
                <a class="nav-link" href="/listProduits">Produits</a>
                <a class="nav-link" href="/listeReclamations">Mes reclamations</a>
            </div>
        </div>
    </div></nav>
<div class="container mt-4">
    <div class="card-header mb-3 text-center"> Formulaire d'ajout de produits</div>
    <div class="card-body">
        <form action="/ajouterProduit" method="post">
            <div class="mb-3">
                <label for="nomProduit" class="form-label">Nom Produit</label>
                <input type="text" class="form-control" id="nomProduit" name="nom" required> <!-- Ajout de l'attribut name -->
            </div>
            <div class="mb-3">
                <label for="descriptionProduit" class="form-label">Description</label>
                <input type="text" class="form-control" id="descriptionProduit" name="description" required> <!-- Ajout de l'attribut name -->
            </div>

            <button type="submit" class="btn btn-primary">Ajouter</button>
        </form>
    </div>
</div>
</body>
</html>